@model List<UsuariosViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@{
    foreach (UsuariosViewModel u in Model)
    {
        <p>ID @u.ID Usuario @u.Usuario</p>
    }
}



<div>

    <form method="post">

        <label>ID</label>
        <input type="number" name="ID"/>

        <label>Usuario</label>
        <input type="text" name="Usuario"/>>
        
        <button type="submit">Enviar</button>

    </form>


</div>